.one h2 {
    text-align: center;
    background-color: black;
    color: white
}

.two h3 {
    text-align: center;

}

.card-img {
    opacity: 0.5;
}

.px_wide {
    width: 650px;
}

.two li {
    text-align: justify;
}

.three h3 {
    text-align: center;
}

.contact h3 {
    text-align: center;
}

footer {
    text-align: center;
    color: red;
}